Repository SevenBitsSwe/7BitsDocs, pull requests merged in 2025-03, with the labels that each got.

#159 Redazione sezione relativa a Python nelle tecnlogie usate
  PB/Documentazione Esterna/Specifica_Tecnica.pdf
  PB/Documentazione Esterna/Specifica_Tecnica.tex
Labels: Verifica, Specifica Tecnica

#166 Conclusione sezione 2 Tecnologie
  PB/Documentazione Esterna/Specifica_Tecnica.pdf
  PB/Documentazione Esterna/Specifica_Tecnica.tex
Labels: Verifica, Specifica Tecnica

#165 redazione introduzione Manuale Utente
  RTB/Manuale_Utente.pdf
  RTB/Manuale_Utente.tex
Labels: Manuale Utente

#171 Redazione sezione "Installazione"
  RTB/Manuale_Utente.pdf
  RTB/Manuale_Utente.tex
Labels: Manuale Utente

#172 Stesura verbale esterno 2025-03-10
  PB/Documentazione Esterna/Verbali Esterni/VerbaleEsterno-2025-03-10.pdf
  PB/Documentazione Esterna/Verbali Esterni/VerbaleEsterno-2025-03-10.tex
Labels: Verifica, Redazione

#180 Ndp processi primari
  PB/Documentazione Interna/Norme_di_progetto_v1.0.0.pdf
  PB/Documentazione Interna/Norme_di_progetto_v1.0.0.tex
Labels: Redazione, Norme di progetto

#178 Redazione sezione "Supporto Tecnico"
  RTB/Manuale_Utente.pdf
  RTB/Manuale_Utente.tex
Labels: Manuale Utente

#181 Redazione sezione "Requisiti"
  RTB/Manuale_Utente.pdf
  RTB/Manuale_Utente.tex
Labels: Redazione, Manuale Utente

#182 Aggiunta sezione Istruzioni per l'uso
  RTB/Manuale_Utente.pdf
  RTB/Manuale_Utente.tex
Labels: Redazione, Manuale Utente

#184 Merge verbali nuovo in main
  PB/Documentazione Esterna/Verbali Esterni/VerbaleEsterno-2025-03-10.pdf
  PB/Documentazione Esterna/Verbali Esterni/VerbaleEsterno-2025-03-10.tex
Labels: Approvazione

#188 Redazione verbale interno 2025-03-17
  PB/Documentazione Interna/Verbali Interni/VerbaleInterno-2025-03-17.pdf
  PB/Documentazione Interna/Verbali Interni/VerbaleInterno-2025-03-17.tex
Labels: Verifica

#191 Verbali interni ed esterni
  PB/Documentazione Esterna/Verbali Esterni/VerbaleEsterno-2025-03-10.pdf
  PB/Documentazione Esterna/Verbali Esterni/VerbaleEsterno-2025-03-17.pdf
  PB/Documentazione Esterna/Verbali Esterni/VerbaleEsterno-2025-03-17.tex
  PB/Documentazione Interna/Verbali Interni/VerbaleInterno-2025-03-07.pdf
  PB/Documentazione Interna/Verbali Interni/VerbaleInterno-2025-03-07.tex
  PB/Documentazione Interna/Verbali Interni/VerbaleInterno-2025-03-17.pdf
  PB/Documentazione Interna/Verbali Interni/VerbaleInterno-2025-03-17.tex
Labels: Approvazione

#198 Correzione test di sistema
  PB/Documentazione Esterna/Piano_di_Qualifica_v1.0.0.pdf
  PB/Documentazione Esterna/Piano_di_Qualifica_v1.0.0.tex
Labels: Modifica, Piano di qualifica

#204 Verifica Verbale Esterno 2025-03-24
  PB/Documentazione Esterna/Verbali Esterni/VerbaleEsterno-2025-03-24.pdf
  PB/Documentazione Esterna/Verbali Esterni/VerbaleEsterno-2025-03-24.tex
Labels: Verifica

#205 Aggiunta verbale interno 2025-03-24
  PB/Documentazione Interna/Verbali Interni/VerbaleInterno-2025-03-24.pdf
  PB/Documentazione Interna/Verbali Interni/VerbaleInterno-2025-03-24.tex
Labels: Verifica

#212 Norme develop
  PB/Documentazione Interna/Norme_di_progetto.pdf
  PB/Documentazione Interna/Norme_di_progetto.tex
  PB/Documentazione Interna/Norme_di_progetto_v1.0.0.pdf
Labels: Norme di progetto

#214 Redazione sottosezione Test di Unità
  PB/Documentazione Esterna/Piano_di_Qualifica.pdf
  PB/Documentazione Esterna/Piano_di_Qualifica.tex
Labels: Verifica, Piano di qualifica

#199 Aggiunta di alcuni termini
  PB/Glossario.pdf
  PB/Glossario.tex
  RTB/Glossario.pdf
Labels: Redazione, Glossario

#213 Stesura nono sprint PdP
  PB/Documentazione Esterna/Piano_di_Progetto.pdf
  PB/Documentazione Esterna/Piano_di_Progetto.tex
  images/consuntivoOreNonoSprint.PNG
  images/oreCostiNonoSprint.PNG
  images/preventivoOreNonoSprint.PNG
Labels: Verifica, Piano di progetto

#223 Approvazione Verbale Interno ed Esterno 2025-03-24
  PB/Documentazione Esterna/Verbali Esterni/VerbaleEsterno-2025-03-24.pdf
  PB/Documentazione Esterna/Verbali Esterni/VerbaleEsterno-2025-03-24.tex
  PB/Documentazione Interna/Verbali Interni/VerbaleInterno-2025-03-24.pdf
  PB/Documentazione Interna/Verbali Interni/VerbaleInterno-2025-03-24.tex
Labels: Approvazione

#217 Correzioni minori sulle metriche
  PB/Documentazione Interna/Norme_di_progetto.pdf
  PB/Documentazione Interna/Norme_di_progetto.tex
  images/FunctionPointFigure.png
Labels: Modifica, Norme di progetto

#227 Correzioni minori requisiti
  PB/Documentazione Esterna/Analisi_dei_Requisiti.pdf
  PB/Documentazione Esterna/Analisi_dei_Requisiti.tex
Labels: Verifica, Analisi dei requisiti
