Repository SevenBitsSwe/7BitsDocs, pull requests merged in 2025-02, with the labels that each got.

#130 Redazione verbale interno 2025-01-22
  .gitignore
  RTB/Verbali/Esterni/VerbaleEsterno-2025-01-29.pdf
  RTB/Verbali/Interni/VerbaleInterno-2025-01-08.pdf
  RTB/Verbali/Interni/VerbaleInterno-2025-01-08.tex
  RTB/Verbali/Interni/VerbaleInterno-2025-01-22.pdf
  RTB/Verbali/Interni/VerbaleInterno-2025-01-22.tex
Labels: Verifica, Approvazione

#134 Redazione verbale 2025-01-30
  RTB/Verbali/Interni/VerbaleInterno-2025-01-30.pdf
  RTB/Verbali/Interni/VerbaleInterno-2025-01-30.tex
Labels: Verifica

#37 Redazione iniziale documento analisi dei requisiti
  .gitignore
  RTB/Analisi_dei_Requisiti_v1.0.0.pdf
  RTB/Analisi_dei_Requisiti_v1.0.0.tex
  RTB/wordchanger.py
  images/UC1.123image.png
  images/UC10.1image.png
  images/UC10.2image.png
  images/UC10image.png
  images/UC11image.png
  images/UC1image.png
  images/UC2image.png
  images/UC3.1234image.png
  images/UC3.4.1image.png
  images/UC3image.png
  images/UC4image.png
  images/UC5image.png
  images/UC6image.png
  images/UC7image.png
  images/UC8image.png
  images/UC9image.png
Labels: Redazione, Analisi dei requisiti

#40 Redazione iniziale del documento Norme di Progetto
  .gitignore
  RTB/Glossario_v1.0.0.pdf
  RTB/Glossario_v1.0.0.tex
  RTB/Norme_di_progetto_v1.0.0.pdf
  RTB/Norme_di_progetto_v1.0.0.tex
  RTB/wordchanger.py
  glossary/Glossario.tex
  glossary/single_terms.txt
  glossary/wordchanger.py
  images/AggregazioneClasse.png
  images/AssociazioneAttore.PNG
  images/AssociazioneClasse.png
  images/Attore.PNG
  images/ComposizioneClasse.png
  images/DipendenzaClasse.png
  images/EstensioneUC.PNG
  images/FunctionPointFigure.png
  images/GeneralizzazioneAttore.PNG
  images/GeneralizzazioneClasse.png
  images/GeneralizzazioneUC.PNG
  images/InclusioneUC.PNG
  images/LogoUnipdW.png
  images/Sistema.PNG
  images/SottoUC.PNG
  images/Standard9126.png
  images/UC.PNG
  images/classe.png
  sitoweb/glossary.js
Labels: Redazione, Norme di progetto

#38 Redazione iniziale del documento Piano di Progetto
  .gitignore
  RTB/Piano_di_Progetto_v1.0.0.pdf
  RTB/Piano_di_Progetto_v1.0.0.tex
  images/consuntivoOrePrimoSprint.png
  images/consuntivoOreQuartoSprint.png
  images/consuntivoOreQuintoSprint.png
  images/consuntivoOreSecondoSprint.png
  images/consuntivoOreSestoSprint.png
  images/consuntivoOreTerzoSprint.PNG
  images/oreCostiPrimoSprint.png
  images/oreCostiQuartoSprint.png
  images/oreCostiQuintoSprint.png
  images/oreCostiSecondoSprint.png
  images/oreCostiSestoSprint.png
  images/oreCostiTerzoSprint.PNG
  images/preventivoOrePrimoSprint.png
  images/preventivoOreQuartoSprint.png
  images/preventivoOreQuintoSprint.png
  images/preventivoOreSecondoSprint.png
  images/preventivoOreSestoSprint.png
  images/preventivoOreTerzoSprint.PNG
Labels: Redazione, Piano di progetto

#41 Redazione Piano di Qualifica
  .gitignore
  RTB/Piano_di_Qualifica.pdf
  RTB/Piano_di_Qualifica_v1.0.0.tex
  images/.gitignore
  images/AC-ETC.png
  images/CPI.png
  images/CV-SV.png
  images/EAC.png
  images/EO.png
  images/ET.png
  images/EV-PV.png
  images/RNP.png
  images/RSI.png
  images/gulpease.png
  images/metricheRispettate.png
Labels: Redazione, Piano di qualifica

#151 Redazione iniziale specifica tecnica
  PB/Documentazione Esterna/Specifica_Tecnica.pdf
  PB/Documentazione Esterna/Specifica_Tecnica.tex
Labels: Redazione, Specifica Tecnica
