Repository SevenBitsSwe/7BitsDocs, pull requests merged in 2025-04, with the labels that each got.

#232 Aggiunti termini e cambiata struttura documento
  PB/Glossario.pdf
  PB/Glossario.tex
Labels: Verifica, Glossario

#240 Approvazione documento e rinominazione dei file in v2.0.0
  PB/Documentazione Interna/Glossario_v2.0.0.pdf
  PB/Documentazione Interna/Glossario_v2.0.0.tex
Labels: Approvazione, Glossario

#244 Fix glossario tex
  .github/workflows/main.yml
  PB/Documentazione Interna/Glossario_v2.0.0.pdf
  PB/Documentazione Interna/Glossario_v2.0.0.tex
Labels: Hotfix, Glossario

#225 Redazione Decimo Sprint
  PB/Documentazione Esterna/Piano_di_Progetto.tex
  images/consuntivoOreDecimoSprint.png
  images/oreCostiDecimoSprint.png
  images/preventivoOreDecimoSprint.png
Labels: Verifica, Piano di progetto

#243 Verifica finale Analisi dei Requisiti
  PB/Documentazione Esterna/Analisi_dei_Requisiti_v2.0.0.pdf
  PB/Documentazione Esterna/Analisi_dei_Requisiti_v2.0.0.tex
  glossary/compound_terms.txt
  glossary/plural_terms.txt
  glossary/single_terms.txt
Labels: Verifica, Approvazione, Analisi dei requisiti

#236 Verifica finale Specifica tecnica
  PB/Documentazione Esterna/Specifica_Tecnica_v1.0.0.pdf
  PB/Documentazione Esterna/Specifica_Tecnica_v1.0.0.tex
  glossary/compound_terms.txt
  glossary/plural_terms.txt
  images/CoreSimulation.jpg
  images/Dataflow.pdf
  images/ProcessorService.pdf
  images/SchemaDB.png
  images/SensorFactory.jpg
  images/SimulationService.pdf
  images/SystemArchitecture.pdf
  images/diaFlink.png
  images/diaSimulation.png
  images/flink1.jpg
  images/flink2.jpg
Labels: Verifica, Approvazione, Specifica Tecnica

#246 Ultime correzioni alle NdP
  ModelloDocumentiUfficiali.tex
  ModelloVerbaleEsterno.tex
  ModelloVerbaleInterno.tex
  PB/Documentazione Interna/Norme_di_progetto.pdf
  PB/Documentazione Interna/Norme_di_progetto.tex
Labels: Verifica, Norme di progetto

#245 Pdp undicesimo sprint
  PB/Documentazione Esterna/Piano_di_Progetto.pdf
  PB/Documentazione Esterna/Piano_di_Progetto.tex
  images/consuntivoOreDecimoSprint.png
  images/consuntivoOreNonoSprint.PNG
  images/consuntivoOreOttavoSprint.png
  images/consuntivoOreSettimoSprint.png
  images/consuntivoOreUndicesimoSprint.png
  images/oreCostiDecimoSprint.png
  images/oreCostiNonoSprint.PNG
  images/oreCostiOttavoSprint.png
  images/oreCostiSettimoSprint.png
  images/oreCostiUndicesimoSprint.png
  images/preventivoOreDecimoSprint.png
  images/preventivoOreNonoSprint.PNG
  images/preventivoOreOttavoSprint.png
  images/preventivoOreSettimoSprint.png
  images/preventivoOreUndicesimoSprint.png
Labels: Verifica, Piano di progetto

#248 Ndp g pedice
  PB/Documentazione Interna/Norme_di_progetto.pdf
  PB/Documentazione Interna/Norme_di_progetto_v2.0.0.pdf
  PB/Documentazione Interna/Norme_di_progetto_v2.0.0.tex
Labels: Verifica, Norme di progetto

#250 Norme
  ModelloDocumentiUfficiali.tex
  ModelloVerbaleEsterno.tex
  ModelloVerbaleInterno.tex
  PB/Documentazione Interna/Norme_di_progetto_v2.0.0.pdf
  PB/Documentazione Interna/Norme_di_progetto_v2.0.0.tex
  images/FunctionPointFigure.png
Labels: Verifica, Norme di progetto

#254 Correzione tabelle
  PB/Documentazione Esterna/Piano_di_Progetto_v2.0.0.pdf
  images/oreCostiDecimoSprint.png
  images/oreCostiNonoSprint.PNG
  images/oreCostiOttavoSprint.png
  images/oreCostiSettimoSprint.png
  images/oreCostiUndicesimoSprint.png
Labels: Hotfix, Piano di progetto

#253 Lettera di presentazione PB
  PB/Lettera_di_presentazione_PB.pdf
  PB/Lettera_di_presentazione_PB.tex
Labels: Verifica
